.button {
  
    border: none;
    color: white;
    right:0;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.icon {
    margin-right: 8px;
    /* Add some space between the icon and the text */
}